.hero {
  background-color: #ffb8ca;
  background-image: url('../images/ice-creem.png');
  background-repeat: no-repeat;
  background-position: right -62px bottom 0px;
}

.hero__container {
  padding-top: 136px;
  padding-bottom: 158px;
}

.hero__text {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__text--red {
  font-weight: 400;
  font-size: 48px;
  line-height: 96.5%;
  color: #d41443;
}
