@import url(c:\Users\Welcome\Documents\GitHub\final-HTML-CSS-project\node_modules\modern-normalize\modern-normalize.css);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-reviews {
  padding: 80px 0 48px 0;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__img {
  display: block;
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/mobile/slider-photo-1-mobile-1x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .slider__img {
    background-image: url(../images/mobile/slider-photo-1-mobile-2x.png);
  }
}

.slider__box {
  width: 280px;
  position: relative;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 43px 50px  17px;
  text-align: center;
  background: repeating-linear-gradient(#e66465, #e66465 20px, #9198e5 20px, #9198e5 25px);
}

.slider__text {
  position: relative;
  margin: 0;
  padding: 0;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
}

.slider__text::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 32px;
  height: 4px;
  background-image: url(../images/icon-slider-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slider__name {
  position: relative;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
}

.slider__name::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 32px;
  height: 4px;
  background-image: url(../images/icon-slider-dots.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-dots li {
  list-style: none;
  margin-right: 18px;
}

.slick-dots li.slick-active button {
  background-color: transparent;
  border-radius: 0;
  background-image: url(../images/house.svg);
  width: 12px;
  height: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-dots li button {
  cursor: pointer;
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #D9D9D9;
  border-radius: 50%;
  border: none;
}

.slick-dots li:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=index.css.map */