@import url(c:\GoIt\final-HTML-CSS-project\node_modules\modern-normalize\modern-normalize.css);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu__button {
  height: 12px;
}

.section-products {
  padding-top: 80px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .section-products {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .section-products {
    padding-top: 59px;
  }
}

.section-products__label {
  margin-bottom: 15px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.section-products__title {
  margin-bottom: 8px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -8px;
  }
}

@media screen and (min-width: 1280px) {
  .products-list {
    margin: -16px;
  }
}

.products-list__item {
  border-radius: 24px;
  margin-top: 148px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .products-list__item {
    width: calc((100% - 3 * 16px) / 3);
    margin: 156px 8px 8px 8px;
  }
}

@media screen and (min-width: 1280px) {
  .products-list__item {
    width: calc((100% - 3 * 32px) / 3);
    margin: 156px 16px 16px 16px;
  }
}

.products-list__item--cream {
  background-color: #ffb8ca;
}

.products-list__item--coffee {
  background-color: #f0d1a5;
}

.products-list__item--milk {
  background-color: #c2e297;
}

.products-list__title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.products-list__title--cream::before {
  display: block;
  float: left;
  margin-top: -140px;
  margin-bottom: 20px;
  content: '';
  width: 100%;
  height: 280px;
  background-image: url(../images/mobile/ice-cream-mobile-1x.png);
  background-size: 280px 280px;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-list__title--cream::before {
    background-image: url(../images/mobile/milk-mobile-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .products-list__title--cream::before {
    height: 224px;
    background-image: url(../images/tablet/ice-cream-tablet-1x.png);
    background-size: 224px 224px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-list__title--cream::before {
    background-image: url(../images/tablet/ice-cream-tablet-2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .products-list__title--cream::before {
    height: 394px;
    background-image: url(../images/desktop/ice-cream-desktop-1x.png);
    background-size: 394px 394px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products-list__title--cream::before {
    background-image: url(../images/desktop/ice-cream-desktop-2x.png);
  }
}

.products-list__title--coffee::before {
  display: block;
  float: left;
  margin-top: -140px;
  margin-bottom: 20px;
  content: '';
  width: 100%;
  height: 280px;
  background-image: url(../images/mobile/ice-coffee-mobile-1x.png);
  background-size: 280px 280px;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-list__title--coffee::before {
    background-image: url(../images/mobile/ice-coffee-mobile-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .products-list__title--coffee::before {
    height: 224px;
    background-image: url(../images/tablet/ice-coffee-tablet-1x.png);
    background-size: 224px 224px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-list__title--coffee::before {
    background-image: url(../images/tablet/ice-coffee-tablet-2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .products-list__title--coffee::before {
    height: 394px;
    background-image: url(../images/desktop/ice-coffee-desktop-1x.png);
    background-size: 394px 394px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products-list__title--coffee::before {
    background-image: url(../images/desktop/ice-coffee-desktop-2x.png);
  }
}

.products-list__title--milk::before {
  display: block;
  float: left;
  margin-top: -140px;
  margin-bottom: 20px;
  content: '';
  width: 100%;
  height: 280px;
  background-image: url(../images/mobile/milkshakes-mobile-1x.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-list__title--milk::before {
    background-image: url(../images/mobile/milkshakes-mobile-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .products-list__title--milk::before {
    height: 224px;
    background-image: url(../images/tablet/milkshakes-tablet-1x.png);
    background-size: 224px 224px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-list__title--milk::before {
    background-image: url(../images/tablet/milkshakes-tablet-2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .products-list__title--milk::before {
    height: 394px;
    background-image: url(../images/desktop/milkshakes-desktop-1x.png);
    background-size: 394px 394px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products-list__title--milk::before {
    background-image: url(../images/desktop/milkshakes-desktop-2x.png);
  }
}

.products-list__title::after {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
  content: '';
  height: 6px;
  background-image: url(../images/symbol-defs.svg#icon-dots);
  background-repeat: no-repeat;
  background-position: center;
}

.products-list__text {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.products-list__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
}

.button-icon {
  width: 15px;
  height: 15px;
  fill: #d41443;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
/*# sourceMappingURL=index.css.map */