<section class="contact .container" id="contact">
  <div class="contact-div">
    <article class="contact-card">
      <h2 class="contact-title">cafe</h2>
      <ul class="contact-list">
        <li><p class="contact-text">Chicago</p></li>
        <li>
          <p class="contact-sub">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li><p class="contact-date">Moday - Friday</p></li>
        <li><p class="contact-time">06:00 AM - 10:00 PM</p></li>
        <li><p class="contact-date">Saturday - Sunday</p></li>
        <li><p class="contact-time">08:00 AM - 16:00 PM</p></li>
        <li>
          <a class="contact-tel" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
        </li>
        <li><a class="contact-mail" href="mailto:">noreply@envato.com</a></li>
      </ul>
    </article>
    <article class="contact-card">
      <h2 class="contact-title contact-title__background-color">FOODTRUCK</h2>
      <ul class="contact-list">
        <li><p class="contact-text">Los Angeles</p></li>
        <li>
          <p class="contact-sub">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li><p class="contact-date">Moday - Friday</p></li>
        <li><p class="contact-time">06:00 AM - 10:00 PM</p></li>
        <li><p class="contact-date">Saturday - Sunday</p></li>
        <li><p class="contact-time">08:00 AM - 16:00 PM</p></li>
        <li>
          <a class="contact-tel" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
        </li>
        <li><a class="contact-mail" href="mailto:">noreply@envato.com</a></li>
      </ul>
    </article>
    <article class="contact-card">
      <h2 class="contact-title">cafe</h2>
      <ul class="contact-list">
        <li><p class="contact-text">New York</p></li>
        <li>
          <p class="contact-sub">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li><p class="contact-date">Moday - Friday</p></li>
        <li><p class="contact-time">06:00 AM - 10:00 PM</p></li>
        <li><p class="contact-date">Saturday - Sunday</p></li>
        <li><p class="contact-time">08:00 AM - 16:00 PM</p></li>
        <li>
          <a class="contact-tel" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
        </li>
        <li><a class="contact-mail" href="mailto:">noreply@envato.com</a></li>
      </ul>
    </article>
  </div>
  <div>
      <div class="contact-modal">
          <a class="btn contact-button contact-button__margin" href="#open-modal">Our Locations
            <svg class="contact-button__svg" width="10" height="15" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.61633 1L6.04401 5L1.61633 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
          <button
          type="button"
          class="contact-button contact-button__background-color">
          Franchise
          <svg class="contact-button__svg" width="10px" height="15px">
            <use href="./images/symbol-defs.svg#icon-button-arrow"></use>
          </svg>
    </button>
        </div>
          <div id="open-modal" class="modal-window">
            <div>
              <a href="#" title="Close" class="modal-close">
                <svg class="contact-close" width="32" height="32" viewBox="0 0 78 78" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <rect width="78" height="78" rx="39" fill="white"/>
                  <path d="M22.9043 22.2861L55.0948 55.7147" stroke="#C7133E" stroke-width="5.57143" stroke-linecap="round"/>
                  <path d="M22.2852 55.0947L55.7137 22.9043" stroke="#C7133E" stroke-width="5.57143" stroke-linecap="round"/>
              </svg>
              </a>
              <h1>Our location</h1>
              <div>Find us on the map!</div>
              <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11879.668874027699!2d-87.62174871324999!3d41.89463736753213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2caabfd640d1%3A0x86af0f869dc4b0af!2zU3RyZWV0ZXJ2aWxsZSwg0KfQuNC60LDSkdC-LCDQhtC70LvRltC90L7QudGBIDYwNjExLCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1655023395894!5m2!1suk!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
              <a href="https://chrome.google.com/webstore/detail/chroma/pkgejkfioihnchalojepdkefnpejomgn?utm_campaign=chromapromo&utm_source=codepen.io" target="_blank">
            </div>
          </div>
        </div>
  </div>
</section>
