<header class="header">
  <div class="container">
    <a class="header__logo" href="">
      <svg class="logo-icon" width="50" height="50px">
        <use href="./images/symbol-defs.svg#logo"></use>
      </svg>
      icecream</a
    >
    <ul class="header-nav__list list">
      <li class="header-nav__item">
        <a class="header-nav__link link" href="">Home</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link link" href="">About us</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link link" href="">How it’s made?</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link link" href="">Our products</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link link" href="">Contact</a>
      </li>
    </ul>
    <button class="tel-menu-open" type="button">
      <svg width="20" height="12">
        <use href="./images/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
    <button class="header__tablet-button" type="button">
      Buy now
      <svg class="tablet-buttot-svg" width="6" height="10">
        <use href="./images/symbol-defs.svg#button-arov"></use>
      </svg>
    </button>
  </div>
  <!-- tell menu -->
  <div class="tel-menu is-hidden">
    <button class="tel-menu-close" type="button">
      <svg class="tel-menu-close__svg" width="14" height="14">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <button class="tel-menu__button" type="button">
      Buy now
      <svg class="tel-buttot-svg" width="6" height="10">
        <use href="./images/symbol-defs.svg#button-arov"></use>
      </svg>
    </button>
    <ul class="tel-menu__list list">
      <li class="tel-menu__item">
        <a class="tel-menu__link link" href="">Home</a>
      </li>
      <li class="tel-menu__item">
        <a class="tel-menu__link link" href="">About us</a>
      </li>
      <li class="tel-menu__item">
        <a class="tel-menu__link link" href="">How it’s made?</a>
      </li>
      <li class="tel-menu__item">
        <a class="tel-menu__link link" href="">Our products</a>
      </li>
      <li class="tel-menu__item">
        <a class="tel-menu__link link" href="">Contact</a>
      </li>
    </ul>
  </div>
</header>
<script src="./js/menu.js"></script>
