<div class=“slider”>
    <div class=“slider__item”>
        <img class=“slider__img” src='./images/desktop/slider-photo-1-desktop-1x.png' alt=“”>
        <div class=“slider__box”>
            <p class=“slider__text”>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <img class=“slider__dots” src='./images/desktop/slider-photo-1-desktop-1x.png' alt=“”>
        <p class=“slider__name”>Emily, Los Angeles</p>
    </div>
    <div class=“slider__item”>
        <img class=“slider__img” src='./images/desktop/slider-photo-1-desktop-1x.png' alt=“”>
        <div class=“slider__box”>
            <p class=“slider__text”>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <img class=“slider__dots” src='./images/desktop/slider-photo-1-desktop-1x.png' alt=“”>
        <p class=“slider__name”>Emily, Los Angeles</p>
    </div>
    <div class=“slider__item”>
        <img class=“slider__img” src='./images/desktop/slider-photo-1-desktop-1x.png' alt=“”>
        <div class=“slider__box”>
            <p class=“slider__text”>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <img class=“slider__dots” src='./images/desktop/slider-photo-1-desktop-1x.png' alt=“”>
        <p class=“slider__name”>Emily, Los Angeles</p>
    </div>
</div>